@using Quizler.Web.Shared.Models.Questions

<div class="card">
    <div class="card-body">
        <h5 class="card-title"><strong>@Question.Text</strong></h5>
        <hr />
        <div class="container">
            <div class="row">
                @foreach (var answer in Question.Answers)
                {
                    <h4>@answer.Text</h4>
                }
            </div>
        </div>
        <a href="#" class="btn btn-primary">Edit</a>
    </div>
</div>
<br />

@code
{
    [Parameter]
    public QuestionResponse Question { get; set; }
}