<AuthorizeView>
    <NotAuthorized>
        <a href="Login" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Log in</a>
        <a href="Register" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true">Register</a>
    </NotAuthorized>
</AuthorizeView>

