@page "/categories/create"

@using Quizler.Web.Shared.Models.Areas.Administration


@attribute [Authorize("AdminOnly")]

<div class="d-flex justify-content-center">
    <div class="card w-75">
        <div class="card-body">
            <EditForm Model="this.Category" OnValidSubmit="Submit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label for="category">Category name</label>
                    <InputText Id="category" Class="form-control" @bind-Value="this.Category.Name" />
                    <ValidationMessage For="@(() => this.Category.Name)" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private CategoryRequest Category = new CategoryRequest();
    public bool IsAdmin { get; set; }

    private async Task Submit()
    {
        await this.CategorieService.CreateAsync(this.Category);
    }

    protected override async Task OnInitializedAsync()
    {
        IsAdmin = await this.UserService.IsInRole("Administrator");
    }
}
