@using Quizler.Web.Shared.Models.Categories

@page "/"

@if (this.categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="/modal-test"> dfsdfsdfdsfsd </a>
    foreach (var category in this.categories)
    {
        <div class="container justify-content-center">
            <p><h4><strong>@category.Name</strong></h4></p>

            <div class="row">
                @foreach (var quiz in category.Quizzes)
                {
                <a href="quizzes/details/@(quiz.Id)">
                    <div class="card m-3" style="width: 12rem;">
                        <img src="@quiz.ImageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h6 class="card-title">Quiz name: <strong>@quiz.Name</strong></h6>
                        </div>
                    </div>
                </a>
                }
            </div>
        </div>
        <br />
        <br />
    }
}

@code
{
    CategorieWithQuizzesResponse[] categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await this.HttpClient.GetJsonAsync<CategorieWithQuizzesResponse[]>("categories/getallwithquizzes");
    }
}
