@using Quizler.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron container-fluid" style="background-color:#fff">
        <div class="d-flex justify-content-center">
            <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        </div>
        <br />
        <form class="d-flex justify-content-center">
            <input class="form-control mr-sm-2" type="search" placeholder="Search quizzes of any topic" aria-label="Search">
            <div class="">
                <button class="btn" type="submit" style=""><i class="fas fa-search"></i></button>
            </div>
        </form>

    </div>

    <div class="d-flex justify-content-center">
        <form class="w-50 p-3">
            <div class="form-group"><label for="name">Name</label><input class="form-control item" type="text" id="name" /></div>
            <div class="form-group"><label for="password">Password</label><input class="form-control item" type="password" id="password" /></div>
            <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email" id="email" /></div><button class="btn btn-primary btn-block" type="submit">Sign Up</button>
        </form>
    </div>*@

