@using Quizler.Common
@using System.Linq
@model Quizler.Web.ViewModels.Quizzes.QuizzesIndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}


@*@foreach (var category in Model.Categories)
{
    <h4>@category.Name</h4>

    <div class="row">
        @foreach (var quiz in Model.Quizzes.Where(q => q.Category.Name == category.Name))
        {
            <div class="col s2 offset-s1 card-panel hoverable">
                    <div class="card small">
                        <div class="card-image">
                            <img src="@quiz.ImageUrl">
                        </div>
                        <div class="card-content">
                            @quiz.Name
                        </div>
                    </div>
            </div>
        }
    </div>
}*@

@(await Html.RenderComponentAsync<Counter>(RenderMode.ServerPrerendered))